{% extends 'base.html.twig' %}

 {% block title %}Home{% endblock %}

{% block body %}
<div class="container">
  <div class="jumbotron mt-3">
    <h1 class="display-3">Bienvenue sur SymBnB</h1>
    <p class="lead">Mettre en relations les voyageurs et les locataires qui veulent profiter d'opportunitées et gagner de l'argent en proposant leur bien à la location</p>
    <hr class="my-4">
    <p>Vous êtes voyageurs ? Et vous voulez voir ou vous pourrez loger pour vos prochaines vacances</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos annonces</a>
    </p>
  </div>


<h2 class="h1 mt-3 mb-4">Nos appartements stars </h2>

<div class="row ">
    <div class="col-md-4">
      <div class="card bg-light mb-3">
        <div class="card-header text-center">
        3 chambres, <strong>49 &euro; / nuit</strong> <br>
        <small>Pas encore noté</small>
        </div>
        <img src="http://placehold.it/1000x400" alt="Image appartement" style="height: 200px; width: 100%; display:block;">
        <div class="card-body">
           <h4 class="card-title">
           Apparement de ouf 
           </h4>
           <p class="card-text">Olestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harumt et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod </p>
           <a href="#" class="btn btn-secondary">En savoir plus</a>
        </div>
    </div>
  </div>
   <!-- 2em colone-->
    <div class="col-md-4">
      <div class="card bg-light mb-3">
        <div class="card-header text-center">
        3 chambres, <strong>49 &euro; / nuit</strong> <br>
        <small>Pas encore noté</small>
        </div>
        <img src="http://placehold.it/1000x400" alt="Image appartement" style="height: 200px; width: 100%; display:block;">
        <div class="card-body">
           <h4 class="card-title">
           Apparement de ouf 
           </h4>
           <p class="card-text">Olestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harumt et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod </p>
           <a href="#" class="btn btn-secondary">En savoir plus</a>
        </div>
    </div>
  </div>
 <!-- 3 em colone-->
    <div class="col-md-4">
      <div class="card bg-light mb-3">
        <div class="card-header text-center">
        3 chambres, <strong>49 &euro; / nuit</strong> <br>
        <small>Pas encore noté</small>
        </div>
        <img src="http://placehold.it/1000x400" alt="Image appartement" style="height: 200px; width: 100%; display:block;">
        <div class="card-body">
           <h4 class="card-title">
           Apparement de ouf 
           </h4>
           <p class="card-text">Olestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harumt et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod </p>
           <a href="#" class="btn btn-secondary">En savoir plus</a>
        </div>
    </div>
  </div>
  


  <h2 class="h1 mt-3 mb-4">Nos proprietaires stars </h2>

  <div class="row mt-5">
    <div class="col">
      <div class="card border-secondary.mb-3">
        <div class="card-body">
        <h4>Joseph Blindé</h4>
        <hr>
        <div class="card-text">
            <img src="http://placehold.it/64x64" alt="Avatar de Joseph" class="float-left mr-3">
            <p> Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
            <a href="#" class="btn btn-success float-right">En savoir plus</a>
        </div>
        </div>
    </div>
  </div>
    <div class="col">
      <div class="card border-secondary.mb-3">
        <div class="card-body">
        <h4>Joseph Blindé</h4>
        <hr>
        <div class="card-text">
            <img src="http://placehold.it/64x64" alt="Avatar de Joseph" class="float-left mr-3">
            <p> Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
            <a href="#" class="btn btn-success float-right">En savoir plus</a>
        </div>
        </div>
    </div>
  </div>
</div>

{% endblock %}
